<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title th:text="#{applicationTitle}">Application</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/javascript/jquery-3.6.4.min.js}"></script>
    <script th:src="@{/javascript/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/javascript/scripts.js}"></script>
</head>
<body>

    <!-- Navigationsleiste -->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <form>
                <a class="navbar-brand" th:text="#{header}" href="/"></a>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-content" aria-controls="navbar-content"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-content">
                <form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:text="#{navigationBar_start}" href="/"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:text="#{navigationBar_workingDays}" href="/working-days"></a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>

    <!-- Seiteninhalt -->
    <main class="container" th:fragment="page-content"></main>
</body>
</html>