body {
	cursor: default;
	/*background-color: #e5ecff;*/
}

ul.errorList {
	font-weight: bold;
	color: red;
}

div.smallDistance,
div.mediumDistance,
div.largeDistance {
	clear: both;
}

div.smallDistance {
	padding: 1px 0 1px 0;
}

div.mediumDistance {
	padding: 3px 0 3px 0;
}

div.largeDistance {
	padding: 5px 0 5px 0;
}

div.boxDefinedOpen,
div.boxDefinedSmall,
div.boxDefinedMedium,
div.boxDefinedLarge,
div.boxDefinedSmall_innerRadio {
	float: left;
}

div.boxDefinedOpen {
	width: auto;
}

div.boxDefinedSmall,div.boxDefinedSmall_innerRadio {
	width: 70px;
}

div.boxDefinedSmall_innerRadio {
	padding: 0 0 0 35px;
}

div.boxDefinedMedium {
	width: 120px;
}

div.boxDefinedLarge {
	width: 275px;
}

span.show {
	display: block;
}

span.hide {
	display: none;
}

/*#pageContent {*/
/*	left: 150px;*/
/*	width: auto;*/
/*}*/

/*#navigation,*/
/*#pageContent {*/
/*	position: absolute;*/
/*}*/

/*#header,*/
/*#navigation,*/
/*#pageContent {*/
/*	padding: 10px;*/
/*}*/

/*select {*/
/*	width: 60px;*/
/*	height: 20px;*/
/*	vertical-align: middle;*/
/*}*/



/*input[type=submit] {*/
/*	border: solid black 1px;*/
/*	font-family: Courier New, sans-serif;*/
/*	background-color: #d5d5d5;*/
/*	cursor: pointer;*/
/*}*/

/*input[type=radio] {*/
/*	margin: 0 0 0 0;*/
/*	vertical-align: middle;*/
/*}*/

/*input[type=text] {*/
/*	height: 14px;*/
/*}*/

/*input[type=text].inputTextDefinedMedium {*/
/*	width: 70px;*/
/*}*/