<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de" data-bs-theme="dark">
<head th:replace="~{fragments/layout :: header}"></head>
<body>
    <div th:replace="~{fragments/layout :: navbar}"></div>

<!--    <main th:replace="~{fragments/layout :: page-content}">-->
    <main class="container">
        <h4 th:text="#{start_headline}"></h4>
        <p th:text="#{start_content}"></p>

        <h5 th:text="#{start_module01_headline}"></h5>
        <p th:text="#{start_module01_content}"></p>
    </main>
</body>
</html>