<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="~{fragments/layout :: header}"></head>
<body>
    <div th:replace="~{fragments/layout :: navbar}"></div>

    <div class="container">
        <h4 th:text="#{workingDays_header}">TEST</h4>

        <!--    <h:messages styleClass="d-none"/>-->

        <!--
        <t:dataList id="errorList" styleClass="errorList"
            value="#{workingDaysBean.errorList}" var="error"
            layout="unorderedList">
            <h:outputText value="#{error}"/>
        </t:dataList>
        -->

        <p th:text="#{test_string}"></p>
        <p>ÄäÖöÜüß</p>

        <p th:text="#{workingDays_content_01}"></p>
        <p th:text="#{workingDays_content_02}"></p>
        <p th:text="#{workingDays_content_03}"></p>
        <p th:text="#{workingDays_content_04}"></p>

        <form id="form-working-days" action="#">

            <div>
                <label for="radio-space-time" th:text="#{workingDays_content_spaceOfTime}"></label>
                <input id="radio-space-time" name="radio-space-time" type="radio" value="radio1" th:selected="true">Unbestimmter Zeitraum in Jahren
                <input name="radio-space-time" type="radio" value="radio2">Spezifischer Zeitraum mit Datumsangaben
            </div>

            <!--        <tc:selectOneRadio id="radio-space-time" label="#{commonRsc.workingDays_content_spaceOfTime}"-->
            <!--                           value="#{workingDaysBean.spaceOfTimeSelection}">-->
            <!--            <f:selectItems value="#{workingDaysBean.spaceOfTimeList}"/>-->
            <!--            <f:ajax render="@form"/>-->
            <!--        </tc:selectOneRadio>-->

            <!-- PanelGroup wird nur angezeigt, wenn Zeitraum in Jahren ausgewählt -->
            <tc:panel collapsed="false">
                <!--				rendered="#{workingDaysBean.spaceOfTimeSelection eq 'spaceOfTime_Years'}"-->
                <div>
                    #{commonRsc.workingDays_spaceOfTime_years}
                </div>

                <tc:selectOneChoice id="startYear" label="#{commonRsc.workingDays_startYear_label_value}"
                                    value="#{workingDaysBean.startYear}">
                    <f:selectItems value="#{workingDaysBean.yearList}"/>
                </tc:selectOneChoice>

                <tc:selectOneChoice id="endYear" label="#{commonRsc.workingDays_endYear_label_value}"
                                    value="#{workingDaysBean.endYear}">
                    <f:selectItems value="#{workingDaysBean.yearList}"/>
                </tc:selectOneChoice>
            </tc:panel>

            <!--			<h:panelGroup styleClass="#{workingDaysBean.spaceOfTimeSelection eq 'spaceOfTime_Years' ? 'show' : 'hide'}">-->
            <!--				<div class="boxDefinedLarge">-->
            <!--					#{commonRsc.workingDays_spaceOfTime_years}-->
            <!--				</div>-->

            <!--				<h:outputLabel id="startYear_Label" for="startYear" styleClass="form-label"-->
            <!--							   value="#{commonRsc.workingDays_startYear_label_value}"-->
            <!--							   title="#{commonRsc.workingDays_startYear_label_title}"/>-->
            <!--				<h:selectOneMenu id="startYear" styleClass="form-select"-->
            <!--								 value="#{workingDaysBean.startYear}"-->
            <!--								 onchange="selectValueChange(this,this.form)">-->
            <!--					<f:selectItems value="#{workingDaysBean.yearList}"/>-->
            <!--				</h:selectOneMenu>-->

            <!--				<h:outputLabel id="endYear_Label" for="endYear"-->
            <!--							   value="#{commonRsc.workingDays_endYear_label_value}"-->
            <!--							   title="#{commonRsc.workingDays_endYear_label_title}"/>-->
            <!--				<h:selectOneMenu id="endYear" styleClass="form-select"-->
            <!--								 value="#{workingDaysBean.endYear}"-->
            <!--								 onchange="selectValueChange(this,this.form)">-->
            <!--					<f:selectItems value="#{workingDaysBean.yearList}"/>-->
            <!--				</h:selectOneMenu>-->
            <!--			</h:panelGroup>-->

            <!--			<tc:button label="#{commonRsc.workingDays_submitButton_value}" markup="primary" defaultCommand="true"-->
            <!--					   action="#{workingDaysBean.validateInput}"/>-->
            <tc:button label="Button2" markup="primary"/>

            <!-- PanelGroup wird nur angezeigt, wenn Zeitraum mit Datumsangaben ausgewählt -->
            <tc:panel collapsed="true" collapsedMode="hidden">
                <!--				rendered="#{workingDaysBean.spaceOfTimeSelection eq 'spaceOfTime_Dates'}"-->
                <div>#{commonRsc.workingDays_spaceOfTime_dates}</div>

                <tc:date id="startDate" label="#{commonRsc.workingDays_startDate_label_value}"
                         value="#{workingDaysBean.startDate}"/>
                <tc:date id="endDate" label="#{commonRsc.workingDays_endDate_label_value}"
                         value="#{workingDaysBean.endDate}"/>
            </tc:panel>




            <!--			<h:panelGroup styleClass="#{workingDaysBean.spaceOfTimeSelection == 'spaceOfTime_Dates' ? 'show' : 'hide'}">-->
            <!--				<div class="boxDefinedLarge">-->
            <!--					#{commonRsc.workingDays_spaceOfTime_dates}-->
            <!--				</div>-->

            <!--				<div class="boxDefinedOpen">-->
            <!--					<div class="boxDefinedSmall">-->
            <!--						<h:outputLabel id="startDate_Label" for="startDate"-->
            <!--									   value="#{commonRsc.workingDays_startDate_label_value}"-->
            <!--									   title="#{commonRsc.workingDays_startDate_label_title}"/>-->
            <!--					</div>-->
            <!--					<div class="boxDefinedMedium">-->
            <!--						<h:inputText id="startDate" maxlength="10" value="#{workingDaysBean.startDate}"-->
            <!--									 styleClass="inputTextDefinedMedium"/>-->
            <!--					</div>-->

            <!--					<div class="boxDefinedSmall">-->
            <!--						<h:outputLabel id="endDate_Label" for="endDate"-->
            <!--									   value="#{commonRsc.workingDays_endDate_label_value}"-->
            <!--									   title="#{commonRsc.workingDays_endDate_label_title}"/>-->
            <!--					</div>-->
            <!--					<div class="boxDefinedMedium">-->
            <!--						<h:inputText id="endDate" maxlength="10"-->
            <!--									 value="#{workingDaysBean.endDate}"-->
            <!--									 styleClass="inputTextDefinedMedium"/>-->
            <!--					</div>-->
            <!--				</div>-->
            <!--			</h:panelGroup>-->
        </form>
    </div>
</body>
</html>